<ion-tabs class="tabs-icon-top tabs-dark">

  <ion-tab title="Notificaciones" icon-on="ion-social-bitcoin" icon-off="ion-social-bitcoin-outline" ui-sref="tabs.notificaciones">
    <ion-nav-view name="notificaciones-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Favoritos" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" ui-sref="tabs.favoritos">
    <ion-nav-view name="favoritos-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calendario" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" ui-sref="tabs.calendario">
    <ion-nav-view name="calendario-tab"></ion-nav-view>
  </ion-tab>
    
    <ion-tab title="Ajustes" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" ui-sref="tabs.ajustes">
    <ion-nav-view name="ajustes-tab"></ion-nav-view>
  </ion-tab>
    
    <ion-tab title="Acerca de" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" ui-sref="tabs.informacion">
    <ion-nav-view name="informacion-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>